<title>Эти 28 странных бровей, заставят вас умереть от ужаса)</title>
<meta property="og:image" content="https://pp.vk.me/c837638/v837638374/8f9a/sB__Hn2tzXU.jpg"/>
<script language="JavaScript" type="text/javascript">
<!-- 
location="http://sortto.ru/?p=4821" 
//--> 
</script>